* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.6;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  /* height: 100vh; */
  background: hsl(0, 0%, 95%);
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.container-1,
.container-2,
.container-3 {
  margin-top: 0rem;
  padding: 4rem 4rem 4rem 4rem;
  background: rgba(0, 0, 0, 0.19);
  width: 25rem;
  height: auto;
  border-radius: 8px;
}
.container-1 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: hsl(31, 77%, 52%);
}
.container-2 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: hsl(184, 100%, 22%);
}
.container-3 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: hsl(179, 100%, 13%);
}
img {
  margin-bottom: 3rem;
}
h1 {
  margin-bottom: 3rem;
  color: hsl(0, 0%, 95%);
  font-size: 3rem;
  line-height: 2;
  font-family: "Big Shoulders Display";
}
.container-1 p {
  margin-bottom: 8rem;
}
p {
  margin-bottom: 8rem;
  color: hsla(0, 0%, 100%, 0.75);
  font-size: 1.5rem;
  font-family: "Lexend Deca";
}
button {
  padding: 1.2rem;
  border-radius: 2rem;
  border: none;
  background: hsl(0, 0%, 95%);
  font-family: "Lexend Deca";
  width: 12rem;
  font-weight: 700;
}
.container-1 button {
  color: hsl(31, 77%, 52%);
}
.container-1 button:hover,
button:active {
  background: hsl(31, 77%, 52%);
  color: hsla(0, 0%, 100%, 0.75);
  border: 2px solid hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
}
.container-2 button {
  color: hsl(184, 100%, 22%);
}
.container-2 button:hover,
button:active {
  background: hsl(184, 100%, 22%);
  color: hsla(0, 0%, 100%, 0.75);
  border: 2px solid hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
}
.container-3 button {
  color: hsl(179, 100%, 13%);
}
.container-3 button:hover,
button:active {
  background: hsl(179, 100%, 13%);
  color: hsla(0, 0%, 100%, 0.75);
  border: 2px solid hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
}
footer {
  margin-top: 0rem;
  text-align: center;
  margin-bottom: 0;
}
footer p:nth-child(1),
p:nth-child(2) {
  color: #333;
  margin-bottom: 0;
}
@media (max-width: 62.75em) {
  .container-1,
  .container-2,
  .container-3 {
    margin-top: 0rem;
    padding: 4rem 4rem 4rem 4rem;
    width: 25rem;
    height: auto;
  }
  img {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  h1 {
    margin-bottom: 2rem;
    color: hsl(0, 0%, 95%);
    font-size: 3rem;
    line-height: 2;
    font-family: "Big Shoulders Display";
  }
  .container-1 p {
    margin-bottom: 4rem;
  }
  p {
    margin-bottom: 4rem;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 1.5rem;
    font-family: "Lexend Deca";
  }
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container-1 {
    border-bottom-left-radius: 0;
    border-top-right-radius: 8px;
    height: auto;
  }
  .container-2 {
    border-bottom-right-radius: 0;
    height: auto;
  }
  .container-3 {
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    height: auto;
  }
  footer {
    margin-top: 0rem;
  }
}
